{#
  Master template for semantic grouping.

  Mode: grouping_mode="semantic" (organizational groups, global coordinates)
#}
sys: |-
{%- filter indent(2) %}
{% include 'components/sys_semantic.j2' %}
{% endfilter %}

main: |-
{%- filter indent(2) %}
{% include 'components/main_semantic.j2' %}
{% endfilter %}

output_example: |-
{%- filter indent(2) %}
{% include 'components/output_example_semantic.j2' %}
{% endfilter %}

fix_error: |-
{%- filter indent(2) %}
{% include 'components/fix_error.j2' %}
{% endfilter %}
